[submodule "label-web-bridge"]
	path = label-web-bridge
	url = https://github.com/babypoby/label-web-bridge.git
[submodule "data-visualisation/cs293_empowering_educators_via_language_technology"]
	path = data-visualisation/cs293_empowering_educators_via_language_technology
	url = https://github.com/rosewang2008/cs293_empowering_educators_via_language_technology.git
[submodule "bridge"]
	path = datasources/bridge
	url = https://github.com/rosewang2008/bridge.git
[submodule "mathdial"]
	path = datasources/mathdial
	url = https://github.com/eth-nlped/mathdial.git

